<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="ion-margin-bottom">
      <ion-item>
        <ion-button>Test button</ion-button>
      </ion-item>

      <ion-item>
        <ion-checkbox>Test checkbox</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-bottom">
      <ion-item color="light">
        <ion-button>Test button</ion-button>
      </ion-item>

      <ion-item color="light">
        <ion-checkbox>Test checkbox</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-bottom">
      <ion-item color="medium">
        <ion-button>Test button</ion-button>
      </ion-item>

      <ion-item color="medium">
        <ion-checkbox>Test checkbox</ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
